*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: white;
}
body{
    background-image: url("brickpic.png");
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 90vh;
}
#tetris-canvas{
    background-color: white;
    box-shadow: 0 0 10px 0 lightsalmon;
}

p{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: white;
}